<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% block content %}

        <div class="col-sm-10">
            <h3 class="text-white my-5">About page</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quod doloremque fugit quidem ex repudiandae facere, et hic amet saepe eius obcaecati quibusdam, aut molestias? Iste saepe veniam dignissimos exercitationem commodi sed aliquid blanditiis velit! Ipsa assumenda tenetur natus tempora aspernatur corporis saepe ratione quas consectetur sit officia, molestiae eius itaque qui. Voluptates necessitatibus doloremque, dolorem velit quae inventore eum.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis dolor reprehenderit expedita temporibus. Dolores ratione commodi eum vero ipsum numquam itaque placeat dolore, iste porro debitis sapiente explicabo eligendi non nulla laborum repellendus animi veritatis repudiandae reprehenderit culpa ab possimus. Odio, animi accusamus veniam cupiditate harum esse vitae cum totam sunt sed, asperiores beatae? Enim accusamus sapiente reiciendis deserunt, blanditiis esse magni, nisi, provident ut debitis sunt? Quidem culpa fugit, numquam dolorem vitae molestiae eveniet consequuntur. Vel excepturi suscipit quisquam officia voluptatum non, tempore eaque culpa debitis omnis reiciendis soluta numquam veritatis praesentium, magni odio ipsa ab. Eligendi, architecto nisi?</p>
        </div>    

    {% endblock content %}
</body>
</html>